{
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-param-reassign": ["error", { "props": false }],
    "no-var": ["off"],
    "comma-dangle": ["error", "never"],
    "arrow-body-style": ["off"],
    "object-shorthand": ["off"]
  }
}
